<!DOCTYPE html>
<html lang="fr">
<head>
    <!--librairie css pour les icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--css pour la navbar-->
    <link rel="stylesheet" type="text/css" href="..\..\css\all_css.css">
    <!--js pour les évènements-->
    <script src="..\..\js\all_js.js"></script>
    <link rel="icon" type="image/png" href="../../images/O.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion - OpenHei</title>
</head>
<body id="body_champ">

    <div class="titre_logo">
        <img id="logo" src="../../images/O.png" alt="Logo OpenHei">
        <h3>OpenHei</h3>
    </div>
    <div class="loader"></div>

</body>
</html>