<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head('Gestion Admin')}">
    </head>
    <body>
        <header th:replace="~{fragments :: menu('GestionAdmin')}"></header>
        <main>
            <article>
                <h1 class="titre_page">Gestion Des Utilisateurs</h1>
                <div class="liste_user" >
                    <table id="myTable">
                        <tr class="header">
                            <th style="width:60%;">Id</th>
                            <th style="width:40%;">Pseudo</th>
                            <th style="width:40%;">Is Admin</th>
                            <th style="width:40%;">Delete</th>
                            <th style="width:40%;">Set Admin</th>
                        </tr>
                        <tr class="user_elements" th:each="mapItem, state:${user}">
                            <th:block th:if="${mapItem.value.getPseudo()}!=${Connected}">
                                <td th:utext="${state.index}">index</td>
                                <td th:utext="${mapItem.value.getPseudo()}">pseudo</td>
                                <th:block th:if="${mapItem.value.getstatus()}==true">
                                    <td th:utext="oui">status</td>
                                </th:block>
                                <th:block th:if="${mapItem.value.getstatus()}==false">
                                    <td th:utext="non">status</td>
                                </th:block>
                                <!--<td th:if="${mapItem.value.getstatus()}=='true'" th:utext="oui">status</td>-->
                                <td><!--<form><input type="submit" class="delete" value="Delete"></form>-->
                                    <button class="delete">+</button>
                                </td>
                                <td><!--<form><input type="submit" class="admin" value="Set Admin"></form>-->
                                    <button class="admin">Admin</button>
                                </td>
                            </th:block>
                        </tr>
                    </table>
                </div>
            </article>
        </main>
        <footer th:replace="~{fragments::footer('GestionAdmin')}"></footer>

    </body>
</html>