<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" type="text/css" href="/CSS/index.css">
	<link rel="icon" type="image/png" href="" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acceuil - OpenHei</title>
	
</head>
<body>
	<header >
		<div id="haut_page_header">
			<img id="logo" src="/images/O.png" alt="Logo OpenHei" width="100px">

			<div id="recherche">
				<form enctype="utf-8" method="GET" action="">
					<input type="search" name="ch_recherche" placeholder="Rechercher..."autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value >
					<input id="loupe" type="image" name="validation" alt="Bouton validation de la recherche" src="//images/loupe.png" value="recherche">
				</form>
			</div>
			<a>
			<button type="submit" ><img id="connexion" src="//images/profile.png" alt="Connexion">Se Connecter </button>
			</a>
		</div>
		<nav>
			<ul id="liste_nav">
				<li><a href="">Thèmes</a></li>
				<li><a href="">Cours</a></li>
				<li><a href="">Profil</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
			<h1 class="titre_page">Acceuil</h1>
			<p>Je suis le texte de l'acceuil Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, rerum perferendis? Magni et nesciunt veritatis distinctio itaque, accusamus dicta quam velit quos quo amet corporis sunt nemo? Voluptas, tenetur adipisci.</p>
		</article>
		
	</main>
	<footer>
		<div>
			<h4>Qui sommes nous ?</h4>
			<ul>
				<li></li>
			</ul>
		</div>
		<div>
			<h4>Où nous trouver</h4>
			<ul>
				<li></li>
			</ul>
		</div>
	</footer>

</body>
</html>