<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments::head('Accueil')}">
	</head>
	<body>
		<header th:replace="~{fragments :: menu('Accueil')}"></header>
		<main>
			<h2 class="titre_page">Accueil</h2>
			<article>
				<div class="paragraphe">
					<h4>l'origine d'OpenHei :</h4>
					<p>Ce projet à été créer dans le but de rendre plus accessible un ensemble de cours sur le sujet de l'informatique.</p>
				</div>
				<div class="paragraphe">
					<h4>Notre Objectif :</h4>
					<p>Faciliter l'accés à diverses notions de cours et pouvoir gérer son propre espace de travail personnel.</p>

				</div>
				<div class="paragraphe">
					<h4>Notre Futur :</h4>
					<p>Faciliter l'accés à diverses notions de cours et pouvoir gérer son propre espace de travail personnel.</p>

				</div>
				<div class="paragraphe">
					<h4>Nos Futur Projets :</h4>
					<p>Continuer de nous améliorer ensemble.</p>
				</div>

			</article>
			<aside>
				<ul>
					<li>Liste des pages</li>
				</ul>
			</aside>

		</main>

		<footer th:replace="~{fragments::footer('Accueil')}"></footer>

	</body>

</html>