<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments::head('Accueil')}">
	</head>
	<body>
		<header th:replace="~{fragments :: menu('Accueil')}"></header>
		<main>

			<article id="corps">

				<div class="bloctexte">
					<div class="w3-display-middle">
						<h1 class="coming-soon">OpenHEI</h1>
						<hr class="trait-separation">
						<p class="recensertous">Un site pour les recenser tous...</p>
						<p class="q">Quel est le but de ce projet ?</p>
						<p class="r">L'intérêt était de faire un site ergonomique aux étudiants qui souhaitaient accéder à leurs cours.</p>
						<p class="q">De quelle façon avez-vous géré l'avancement du projet ?</p>
						<p class="r">Nous avons géré ce projet de manière agile, plus particulièrement grâce à la méthode japonaise Kanban.</p>
						<p class="q">Quelles difficultés avez-vous rencontré lors de la création du site ?</p>
						<p class="r">Les obstacles étaient nombreux, mais le plus difficile était de définir les User Stories, car nous avons dû les revoir plusieurs fois.</p>
						<p class="q">Qu'avez-vous retenu de cette expérience ?</p>
						<p class="r">Nous avons appris à travailler à plusieurs dans le cadre d'un projet en informatique, en plus d'avoir accru nos connaissances dans divers langages.</p>

						<p class="q" style="padding-bottom: 100px">Membres du projet : CHAMPAGNE Raphaël, DESRUELLES Mathis, PRETET Baptiste, VERCOURT Florent.</p>
					</div>

				</div>
			</article>

		</main>
		<footer th:replace="~{fragments::footer('Accueil')}"></footer>
	</body>
</html>