<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--librairie css pour les icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--css pour la navbar-->
        <link rel="stylesheet" type="text/css"  href="..\..\css\all_css.css">
        <!--js pour les évènements-->
        <!--<script src="..\..\js\all_js.js"></script>-->
        <link rel="icon" type="image/png" href="../../images/O.png" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inscription - OpenHei</title>
    </head>
    <body id="body_champ">
        <div class="container">
            <div class="titre_logo">
                <a class="back_home" href="/Accueil"><img id="logo" src="../../images/O.png" alt="Logo OpenHei"></a>
                <a class="back_home" href="/Accueil"><h3>OpenHei</h3></a>
            </div>
            <form method="POST" >
                <div class="champ">
                    <label for="Pseudo">Pseudo :</label>
                    <div>
                        <span class="invalid"></span>
                        <input type="text" id="Pseudo" name="Pseudo" placeholder="Your Pseudo.." autocomplete="false" spellcheck="false" pattern="(?=.*[0-9])(?=\S+$).{5,}" required>
                    </div>
                </div>
                <div class="champ">
                    <label for="Login">Login :</label>
                    <div>
                        <span class="invalid"></span>
                        <input type="email" id="Login" class="invalid" name="Login" placeholder="Your Login.." autocomplete="false" spellcheck="false" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" required>
                    </div>
                </div>
                <div class="champ">
                    <label for="Password">Password :</label>
                    <div>
                        <span class="invalid"></span>
                        <input type="password" id="Password" class="invalid" name="Password" placeholder="Your password.. " autocomplete="false" spellcheck="false" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}" required>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="champ">
                    <input type="submit" id="submit" value="S'inscrire" id="envoi">
                </div>
            </form>

            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                <p id="specialChar" class="invalid">Minimum <b>1 special character</b></p>
                <p id="email" class="invalid"><b>Valide Format</b></p>
                <p id="space" class="invalid"><b>No Space</b></p>
            </div>

            <div id="connexion" >
                <a href="/connection" >Vous êtes déja inscrit ?</a>
            </div>
        </div>
        <script src="..\..\js\inscription.js"></script>
    </body>
</html>