
<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="/CSS/button_test.css">
        <link rel="icon" type="image/png" href="" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>test boutton connexion</title>
    </head>
    <body>
        <a href="test_connexion.html"><button id="connexion" type="submit" alt="bouton de connexion"><img id="profile" src="/images/profile.png" alt="image profile de connexion"><p>Se Connecter</p></button></a>
    </body>
</html>

