<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/CSS/index.css">
	<link rel="icon" type="image/png" href="" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Thèmes - OpenHei</title>
	
</head>
<body>
	<header>
		<header th:replace="~{ fragments :: menu('Themes') }"></header>
	<main>
		<article>
			<h1 class="titre_page">Thèmes</h1>
			<div class="liste"  >
				<div class="liste_block"th:each="theme, state:${matiere} ">
					<h4 th:utext="${theme.getNomMatiere()}">JavaEE</h4>
					<select>
						<option th:utext="${theme.recupCour()}">1<sub>ere</sub> notion</option>
						
					</select>					
				</div>
				<!--ajout thymleaf pour class impair-->
				<div class="liste_block impair" >
					<h4 >JavaEE</h4>
					<select>
						<option>1<sub>ere</sub> notion</option>
					</select>					
				</div>
				<div class="liste_block" >
					<h4>JavaEE</h4>
					<select>
						<option>1<sub>ere</sub> notion</option>
					</select>					
				</div>
				<div class="liste_block impair" >
					<h4>JavaEE</h4>
					<select>
						<option>1<sub>ere</sub> notion</option>
					</select>					
				</div>
				<div class="liste_block" >
					<h4>JavaEE</h4>
					<select>
						<option>1<sub>ere</sub> notion</option>
					</select>					
				</div>
				<div class="liste_block  impair" >
					<h4>JavaEE</h4>
					<select>
						<option>1<sub>ere</sub> notion</option>
					</select>					
				</div>
			</div>
		</article>
		
	</main>
	<footer>
		<div>
			<h4>Qui sommes nous ?</h4>
			<ul>
				<li>Un groupe d'étudiants</li>
			</ul>
		</div>
		<div>
			<h4>Où nous trouver</h4>
			<ul>
				<li>à HEI</li>
			</ul>
		</div>
		<div>
			<h4>Détails</h4>
			<ul>
				<li> Creéation du site</li>
			</ul>
		</div>
	</footer>

</body>
</html>