<!DOCTYPE html>
<html lang="fr">
	<head th:replace="~{fragments :: head('Thèmes Admin')}">
	</head>
	<body>
		<header th:replace="~{fragments :: menu('ThemesAdmin')}"></header>
		<main>
			<article>
				<h1 class="titre_page">Thèmes</h1>
				<div class="addCour" >
					<form id="form_add">
						<label id="textcour">Ajouter Cours :</label>
						<input class="champ_add" id="nom_add" type="text" placeholder="nom du cours">
						<input type="text" class="champ_add" id="url_add" placeholder="url" >
						<select id="mat_add" class="champ_add">
							<option th:each="mapItem, state:${matiere} " th:utext="${mapItem.key}"></option>
						</select>
						<button class="btn_add" onclick="addCour()">Ajouter</button>
					</form>
				</div>
				<div class="liste"  >
					<div class="liste_block"th:each="mapItem, state:${matiere} ">
						<h4 th:utext="${mapItem.key}">JavaEE</h4>
						<div class="dropdown" >
							<button  class="dropbtn" th:attr="onclick=|showListCours('${mapItem.key}')|" >Cours</button>
							<div th:id="${mapItem.key}" class="dropdown-content">
								<div class="cours"th:each="cour,state:${mapItem.value}" ><h5 th:utext="${cour.getnomCours()}" th:value="${cour.getId()}" >Cours</h5>
									<a target="_blank" th:href="@{${cour.getUrl()}}"><button class="btn"><i class="fa fa-download"></i> Download</button></a>
								<a><form>
									<input id="nomupdate" class="nom_update" type="text" placeholder="nom du cours">
									<input id="urlupdate" type="text" class="url_update" placeholder="url" >
									<input class="updatebtn" type="submit" value="Update">
								</form></a>
								<a><input type="submit" class="deletebtn" value="&times; Delete"/></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
		<footer th:replace="~{fragments::footer('ThemesAdmin')}"></footer>
	</body>
</html>