/*--CSS Commun--*/

/*Descirption des types de commentaires
  /* */  /*:Décrit ce que fait une fonction css;
  /*- -*/   /*:Délimite les fonctions CSS d'un/d'éléments HTML;
  /*-- --*/  /*:Délimite les parties de code HTML;
  /*!-- --!*/   /*:Désigne le fichier Cibler
  /*-----------------------*/ /*:Sépare les fichiers
*/

/*--CSS all--*/
*{
    text-decoration: none;
    padding:0;
    margin:0;
    border: none;
    outline: none;
}

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Courrier New",Arial,Helvetica;
    font-size: 100%;
    width: 100%;
    height: 100%;
}
/*--CSS all--*/



/*--HEADER--*/
/*!--ALL except CONNEXION & INSCRIPTION --!*/

/*-Logo et nom-*/
#haut_page_header{

    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}


.titre{
    text-align: center;
    margin: auto 20vw;
    text-align:left;
    font-size: 3vw;
    /*le mettre en vw*/
    font-style: bold;
    font-family: Georgia, serif;
    width: 100%;
}

.logo_nom_header{
    display: flex;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.logo_nom_header div{
    font-family: cursive;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10vw;
}

.logo_nom_header h1{
    font-size: 3em;
    margin-right: 15vw;
    margin: auto 0;
}

#logo{
    min-width: 8vw;
    width: 6em;
    height: auto;
    margin-left: 1vw;
}


/*-Logo et nom-*/

/*-CSS barre de navigation-*/
.topnav {
    /*overflow permet que ce qui dépasse du bloc topnav ne soit pas afficher*/
    overflow: hidden;
    background-color: #333;
    /*margin-bottom: 2em;*/
    opacity:1;
}

.bloctexte{
    padding-top: 100px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.85em 1em;
    font-size: 1.05em;
}

/*éléments clicker gagne la class active*/
.active{
    background-color: #04AA6D;
    color: white;
}

/*les éléments à cacher sont en display none*/
.topnav .menu, .menuderoulant-content/*,#search */{
    display: none;
    font-size:1em;
}

#login:active,#SignIn:active{
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*-CSS pour le champ de recherche au click du bouton-*/
.search-dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.search-dropbtn:hover, .search-dropbtn:focus {
    background-color: #2980B9;
}

.search_dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10em;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show-searchbar,.show {display: block;}

.search-container {
    float: right;
    width: 100%;
}

input[type=search] {
    padding: 0.375em;
    font-size: 1.0625em;
}

.search-container button {
    float: right;
    padding: 0.375em 10px;
    outline: none;
    font-size: 1.0625em;
    cursor: pointer;
}

.search-container button:hover, .search_dropdown input:hover {border: 2px black solid;}


/*-CSS pour le champ de recherche au click du bouton-*/
/*permet d'aligner le menu deroulant aver le bouton*/
.menuderoulant {
    float: left;
    overflow: hidden;
}

.menuderoulant .dropbtn {
    font-size: 1.05em;
    color: white;
    padding: 0.8em 1em;
    background-color: inherit;
    margin: 0;
}

.menuderoulant-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10em;
    color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menuderoulant-content a {
    float: none;
    color: black;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .menuderoulant:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dmenuderoulant-content a:hover {
    background-color: #ddd;
    color: black;
}



.menuderoulant:hover .menuderoulant-content {
    display: block;
}

.topnav-right {
    float: right;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/*val d'origine 600px*/
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .menuderoulant .dropbtn, .topnav-right {
        display: none;
    }
    .topnav a.menu {
        float: right;
        display: block;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

/*val d'origine 600px*/
@media screen and (max-width: 800px) {
    .topnav.responsive a,.topnav.responsive .topnav-right {
        float: none;
        display: block;
        text-align:center;
    }
    .topnav.responsive a.menu {
        float: center;
        display: block;
    }
    .topnav.responsive .menuderoulant {float: none;}
    .topnav.responsive .menuderoulant-content {position: relative;}
    .topnav.responsive .menuderoulant .dropbtn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
}
/*-CSS barre de navigation-*/


/*CSS to sticky header

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}*/

/*!-- ALL except CONNEXION & INSCRIPTION --!*/

/*---------------------------------------*/


/*--HEADER--*/



/*--BODY--*/

/*!--ACCEUIL.HTML--!*/

/*!--ACCEUIL.HTML-!*-/

/*---------------------------------------*/

/*!--LISTE_COURS.HTML--!*/
/*Corps de la page*/

main{
    /*margin-left: 5%;
    margin-right: 5%;
    */
    background-image: url('/images/background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

li{
    padding-top: 10px;
    font-style:italic;
}
.trait-separation{
    border: 1px solid black;
    width:15%;
    margin:auto;
}
.coming-soon{

    margin-bottom: 5px;
}
.w3-display-middle {
    position: relative;
    margin-top:auto;
    margin-bottom: auto;
}
.membresprojet{

}
.recensertous{
    margin-top: 10px;
    font-size: larger;
}
.q{
    margin-top: 50px;
    font-size: larger;
}
.r{
    margin-top: 50px;
    font-style: italic;
}
.titre_page{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    /*le mettre en vw*/
    font-style: bold;
    font-family: Georgia, serif;
}

/*aside{
    display: inline;
}*/


.paragraphe{
    margin-bottom: 1.5em;
}

.paragraphe h4{
    font-family: Georgia, serif;
    text-decoration: underline;
    margin-bottom: 0.8em;
}


.liste{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8vh;
}

.liste_block{
    width: 20vw;
    max-height: 20vh;
    margin:2vh auto;
    padding:1vw;
    background-color: red;
    border: 0.4vw solid black;
    border-radius: 2vw;
    text-align: center;
}

.liste_block h4{
    margin: 2vh auto;
    font-size: 2.4vw;
}
.liste_block select{
    border-radius: 1vw;
    height: 3.4vh;
    margin-bottom: 1vh;
}

.impair{
    background-color: blueviolet;
}


/*css du bouton de liste de cours*/
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/*classe qui permmet d'afficher le bouton+div des cours*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*block qui s'affiche au click et qui contient la liste des cours*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/*les liens s'affichent en display block*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover,.cours:hover {background-color: #ddd;}
.cours a:hover{background-color: none;}

.show {display: block;}

.cours{
    display: flex;
    flex-direction: row;
    color: black;
    padding: 4px 16px;
    text-decoration: none;

}
.cours h5{
    font-style: none;
    text-align: center;
    text-overflow: ellipsis;
    width: auto;
    white-space:nowrap;
}


/*css du bouton de téléchargemet*/
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    width: 80px;
    align-items: center;
    padding: 6px 5px;
    margin-top: 8%;
    cursor: pointer;
    font-size: 60%;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}


/*!--LISTE_COURS.HTML--!*/



/*!--CONNEXION--!*/
.back_home{
    display: inline;
    text-decoration: none;
}


#body_champ{
    background-color: rgb(145, 66, 66);
    padding-top: 10%;
    padding-bottom: 20%;
    margin: 0;
}

.container{
    background-color: rgb(167, 167, 167);
    border: 0.15em solid black;
    margin: auto 25%;

}

.container .titre_logo a{
    color: black;
}

.titre_logo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2.5vw;
    margin-top: 1.2em;
}

.container form{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-top: 2px black dotted;
    border-bottom: 2px black dotted;
    margin-bottom: 5%;

}

#body_form .titre_logo #logo{
    max-width: 210px;
    width: 4em;
    height: auto;
    margin-left: 5vw;

}

.titre_logo h3{
    text-align: center;
    margin: auto;
    text-align:left;
    font-size: 3vw;
    padding-left: 1em;
    font-family: Georgia, serif;
    width: 100%;
}

.champ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    text-align: center;
    width: 100%;
}

.champ input{
    height: 2em;
    width: 80%;

    text-align: center;
    border-radius: 1em;
    font-size: 1.4vw;
}
.champ label{
    margin-left: 10%;
    width: 80%;
    margin: 3% auto;
    font-size: 2vw;
    text-align: start;
    text-decoration: underline;

}

.champ:nth-last-child(1) input{
    width: 40%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#liens_connexion{
    display: flex;
    justify-content: space-between;
    margin: 0.4em;
    margin-bottom: 0.8em;
    font-size: 1.4vw;
    text-align: center;
}

#body_champ #connexion{
    text-align: center;
    margin-bottom: 0.6em;
    font-size: 1.4vw;
}
/*!--CONNEXION--!*/



/*!--DECONNEXION--!*/
.loader {
    width: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*!--DECONNEXION--!*/

/*!--THEMES ADMIN--!*/
.invisible{
    display: none;
}

/*!--THEMES ADMIN--!*/


/*---------------------------------------*/

/*--BODY--*/

/*--FOOTER--*/

footer{
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color:white;
}
/*--FOOTER--*/


