body{
    display: flex;
    justify-content: center;
    margin: 10em auto;
}

button{
	min-width: 14%;
	border: 2px solid #ccc;
	border-radius: 2em;
	color: black;
    background-color: blanchedalmond;
}

button #profile{
	width: 1.8vw;
    margin-top: 1vh;
    margin-bottom: 0;
}

button p{
    margin: 0.2vh 0.5vw 1vh 0.5vw;
	font-weight: bold;
}

button:active{
	background-color: rgb(106, 138, 224);
	transform: translateY(2px);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container