*{
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	text-decoration: none;
}
body {font-family: Arial, Helvetica, sans-serif;}

.hide_background{
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

#cacher{
    /*display: none;*/
    background-color: brown;
    border: black 0.1em solid;
    font-size: 1em;
    margin: 10% 15%;
    /*padding: 1em;*/
}

/* Center the image and position the close button */
.close_contener {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.close_cross{
    /* The Close Button (x) */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

input[type=text],input[type=password]{
    background-color: white;
    border: black 0.14em solid;
    border-radius: 0.5em;
    padding: 0.5em 0 0.5em 0.4em;
    font-size: 1em;
    box-sizing: border-box;
    width: 80%;
    box-sizing: border-box;
    
}

.field{
    margin: 1.4em auto;
    text-align: center;  
     
}



.field .text_field{
    display: block;
    margin: 0.4em auto;
    font-weight: bolder;
    font-size: 1.2em;
    
}

.boutton{
    width: 30%;
    max-width: 14em;
    padding: 0.2em 2em;
    border: none;
    cursor:pointer;
    background-color: #04AA6D;
    color: white;
    width: 100%;
    
}